<div class="container">
<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group col-8 center">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-primary">
      <i class="fas fa-search"></i> Rechercher
    </button>
  </div>
<% end %>
<h2>Marques</h2>
<div class="row justify-content">
  <div class="col-4">
    <div class="card-product">
    <img src=" t-shirt-s2s-flammes-rouge.jpg " />
      <div class="card-product-infos">
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-product">
      <img src=" /Users/sam/Downloads/t-shirt-s2s-flammes-rouge.jpg " />
      <div class="card-product-infos">
      </div>
     </div>
    </div>
    <div class="col-4">
      <div class="card-product">
      <img src=" t-shirt-s2s-flammes-rouge.jpg " />
      <div class="card-product-infos">
      </div>
      </div>
    </div>


</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
<% @clothes.each do |clothe| %>
<div class="col">
    <div class="card">
      <%= image_tag "rouge.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= clothe.name %></h5>
        <p class="card-text"><%= clothe.description %></p>
      </div>
    </div>
  </div>
<% end %>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
  <span class="border border-black"></span>
    Le t-shirt rouge fait avec le <i class="fas fa-heart"></i> dans nos locaux.
  </div>
</div>

</div>
