<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("lucas-lenzi-4-VgrP9SgQw-unsplash_vsk1pd") %>);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>



<h1>Louez vos t-shirts rouges sur RedTnT !</h1>
<div class="container">
<div class="col-md-4">
<div class="form-floating mb-3">
<img src="..." class="img-fluid" alt="...">
<h2>Quoi</h2>
</div>
<h2>Début</h2>
<h2>Fin</h2>
<div class="form-floating">
  <button type="button" class="btn btn-danger btn-lg text align-center">Rechercher</button>

<div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
</div>
</div>
