<div class="banner">
  <div class="container">
    <div class="bg-white col-6 p-3 m-auto">
      <h1 class="text-secondary text-center">RedTnt vient te mettre <span class="text-primary"><strong>du rouge</strong></span> dans <strong>ta vie</strong>!</h1>
      <div class="text-center">
        <a class="btn btn-primary align-item-center mt-4" href="/clothes">Adopte la vie en <span class="strong">rouge</span></a>
      </div>
    </div>
  </div>
</div>
<div class="container mt-2">
  <div>
    <h2>Distinctes toi dans le <span class="text-primary">style</span></h2>
    <div class="my-6">card </div>
    <div class="my-6">card </div>
    <div class="my-6">card </div>
    <div class="my-6">card </div>
    <div class="my-6">card </div>
  </div>
  <div>
    <h2>Reconnu par les plus <span class="text-primary">grands</span> de ce monde</h2>
    <div class="row justify-content-center">
      <div class="col-8">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src=<%= image_path("barack.jpg") %> class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <figure class="text-end bg-light-subtle bg-opacity-10 p-3">
                  <blockquote class="blockquote">
                    <p>Mon quotidien a été changé à jamais depuis que je porte des <span class="text-primary">T-shirt rouge</span></p>
                  </blockquote>
                  <figcaption class="blockquote-footer">
                    Barack Obama <cite title="Source Title">The Wall Street Journal</cite>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src=<%= image_path("gandhi.png") %> class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <figure class="text-end bg-light-subtle bg-opacity-10 p-3">
                  <blockquote class="blockquote">
                    <p>Ma sagesse est infini dès que je porte des <span class="text-primary">Red-T</span></p>
                  </blockquote>
                  <figcaption class="blockquote-footer">
                    Gandhi <cite title="Source Title">Discours pour la paix</cite>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="carousel-item">
              <img src=<%= image_path("platon.jpg") %> class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <figure class="text-end bg-light-subtle bg-opacity-10 p-3">
                  <blockquote class="blockquote">
                    <p>Après l'alégorie de la caverne, achetez mon nouveau livre <span class="text-primary">PhiloRed</span> chez votre libraire préféré</p>
                  </blockquote>
                  <figcaption class="blockquote-footer">
                    Platon (probablement) <cite title="Source Title">Quelque part à Athenes</cite>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
</div>
