<div class="banner">
  <div class="container">
    <div class="bg-white col-6 p-3 m-auto">
      <h1 class="text-secondary text-center">Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
      <div class="text-center">
        <a class="btn btn-primary align-item-center mt-4" href="/clothes">Adopte la vie en <span class="strong">rouge</span></a>
      </div>
    </div>
  </div>
</div>



<h1>Louez vos t-shirts rouges sur RedTnT !</h1>
<div class="container">
<div class="col-md-4">
<div class="form-floating mb-3">
<img src="..." class="img-fluid" alt="...">
<h2>Quoi</h2>
</div>
<h2>Début</h2>
<h2>Fin</h2>
<div class="form-floating">
  <button type="button" class="btn btn-danger btn-lg text align-center">Rechercher</button>

<div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
</div>
</div>
